@tailwind base;
@tailwind components;
@tailwind utilities;

.title-name,
.title-container,
.description-section {
  font-family: "Sofia Sans Condensed", sans-serif;
}

.title-project {
  font-family: "Alkatra", sans-serif;
}

.title-buttons,
.title-technology,
.title-section,
.title-nav,
.parragraph-section,
.form-text {
  font-family: "Source Sans Pro", sans-serif;
}

.title-stack,
.title-form {
  font-family: "Pattaya", sans-serif;
}

/* .title-project {
  font-family: "Playfair Display", serif;
} */

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background: rgb(14, 116, 144);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: rgb(67, 56, 202);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}
